<div class="container-fluid">
    <div class="booyah-box col-10 offset-1">
        <div class="row">
            <h2 class="header-about col-12">About VietHoc</h2><br />
            <br />
            <div class="business-info col-12 col-lg-6">BUSINESS INFO
            </div>
            <div class="story-info col-12 col-lg-6">STORY</div>
            <hr>
        </div>
        <!--info-container-->
    </div>
    <!--row-->
</div>
<!--booyah-box-->
</div>