<div class="container-fluid">
    <div class="booyah-box col-10 offset-1">
        <div class="row">
            <h2 class="header-about col-12">About VietHoc</h2><br />
            <br />
            <div class="business-info col-12 col-lg-6">BUSINESS INFO
             <hr>
            	<div class="founding-info">
            		<img class="flag-founding" src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/d39saI3hpyK.png">
            		<p id="about_us_font_size">Founded on 29 January, 2018</p>
            	</div>
            	<div class="mission">
            		<img class="mission_img" src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/3nI2gk4QBQc.png">
            		<p id="mission-title"><strong>Mission</strong></p>
            		</div>
            	<div class="mission_desc">
            		<p id="mission-stuff">To provide common sense, practical Vietnamese language training to people who love Vietnam</p>
            	</div>
            	<div class="contact-title">
            		CONTACT INFO
            		<hr>
            	</div>
            	<div class="contact-info">
            		<img class="contact_img" src="https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/hqLJRMuC0jg.png">
            		<p id="name">@VietHoc</p>
            	</div>
            	<div class="web-address">
            		<img class="web-address-image" src="https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/P4MlDGUeO6y.png">
            		<p id="webname">http://www.viethoc.com</p>
            	</div>
            	<div class="more-info">
            	MORE INFO
            		<hr>
            	</div>
            	<div class="about-title">
            		<img class="about-logo" src="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/3s6FYQ0LpJp.png">
            		<p id="about">About</p>
            	</div>
            	<div class="about-description">
            		<p id="about-description-content">VietHoc celebrates the Vietnamese language and culture and its effect on Southeast Asia. We strive to inspire and motivate people to have a deeper appreciation for Vietnamese culture and language. </p>
            	</div>
            	<div class="general-info">
            		<img class="general-info-image" src="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/3s6FYQ0LpJp.png">
            		<p id="general-info-content">General Information</p>
            	</div>
            	<div class="general-info-content-par">
            		<p id="general-info-stuff">Your ideas and suggestions help us to constantly improve. Let us know how we can improve your experience.</p>
            	</div>
            </div>

            <div class="story-info col-12 col-lg-6">STORY
            <hr>
            <div class="milestones">
            	<img class="milestones-image" src="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/Qz1rawS_hSy.png">
            	<p id="milestones-title">Milestones</p>
            </div>
            </div>
            
        </div>
        <!--info-container-->
    </div>
    <!--row-->
</div>
<!--booyah-box-->
</div>