<div class="container-fluid">
    <div class="booyah-box col-10 offset-1">
        <div class="row">
            <h2 class="header-about col-12">About VietHoc</h2><br />
            <br />
            <div class="business-info col-12 col-lg-6">BUSINESS INFO
             <hr>
            	<div class="founding-info">
            		<img class="flag-founding" src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/d39saI3hpyK.png">
            		<p id="about_us_font_size">Founded on 29 January, 2018</p>
            	</div>
            	<div class="mission">
            		<img class="mission_img" src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/3nI2gk4QBQc.png">
            		<p id="mission-title"><strong>Mission</strong></p>
            		</div>
            	<div class="mission_desc">
            		<p id="mission-stuff">To provide common sense, practical Vietnamese language training to people who love Vietnam</p>
            	</div>
            	<div class="contact-title">
            		CONTACT INFO
            		<hr>
            	</div>
            	<div class="contact-info">
            		<img class="contact_img" src="https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/hqLJRMuC0jg.png">
            		<p id="name">VietHoc</p>
            		
            	</div>


            	
           


            </div>

            <div class="story-info col-12 col-lg-6">STORY
            <hr>
            </div>
            
        </div>
        <!--info-container-->
    </div>
    <!--row-->
</div>
<!--booyah-box-->
</div>