<div class="container-fluid">
    <div class="row">
        
        <div class="top-content-on-left ">
            <h1 class="learn-vietnamese">Learn Vietnamese</h1>
            <h2 class="master-fundamentals" id="top-content">Master the fundamentals</h2>
            <br />
            <h2 class="master-fundamentals" id="top-content">Start Communicating Now</h2>
            <br />
            <h1 class="get-a-job" id="top-content">Get a Job You Love</h1>
            <br />
            <h2 class="get-a-job" style="color:red;" id="top-content">95% Job Placement</h2>

            <div class="button">

            <%= link_to 'Courses Available', courses_path, class: 'btn btn-primary'  %>

            </div>

        </div>
        <!--top-content-->
        <div class="col">
            
            <img src="/assets/learning.jpg" class="img-responsive" alt="learning" width="100%" style="margin-right:15px;margin-top: 32px;">
           
        </div>
    </div>
</div>
<!--row-->
</div>
<div class="row">
    <div class="middle-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="course-materials">Course Materials</h1>
    </div>
    <!--middle-content-->
</div>
<!--row-->
<div class="row">
    <div class="information col">
        <img src="/assets/practical_videos.jpg" class="img-responsive" id="studying_pic" alt="learning" width="100%">
    </div>
    <div class="everyday-speaking-col col">
        <h2 class="everyday-speaking" id="speaking">Everyday Speaking</h2>
        <p>Laboris et ut ex proident laborum ad magna tempor sed reprehenderit pariatur. Cillum sit proident ut in in aliquip esse magna veniam culpa in eu mollit proident est consectetur. Nulla pariatur occaecat labore nisi ut ut amet ex dolore dolore sint eiusmod aliqua tempor laborum ea. Deserunt pariatur dolore reprehenderit aliqua esse culpa in laborum.</p>
        <br />
        <p>Est dolor incididunt veniam tempor elit minim officia excepteur nulla adipisicing amet nisi anim sed esse. Consequat id et minim consectetur exercitation exercitation elit elit irure culpa.</p>

        <div class="button-holder">
            <button type="button" class="btn btn-secondary btn-lg">Learn More</button>
        </div><br />
        <!--button-holder-->
    </div>
    
    <div class="erik-awesome">
    <div class="row">
        <div class="written-content col">
            <h2 class="practical-videos">Practical Videos</h2>
            <p>Cupidatat sint ut anim commodo laboris ut fugiat sunt. Magna ad anim occaecat dolor mollit enim nisi deserunt elit ea labore nulla culpa pariatur do occaecat occaecat dolor. Lorem ipsum sint est culpa aliqua occaecat ex occaecat dolor sint reprehenderit duis ut commodo.</p>
            <br />
            <p>Reprehenderit nostrud commodo ea velit adipisicing eu reprehenderit ut aliqua proident ullamco sit.</p>
            <button type="button" class="btn btn-secondary btn-lg">Learn More</button><br />
           
        </div>
            <div class="aspectRatioLock col">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EasLRA5xRHw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <!--aspectRatioLock-->
          </div>  
      <!--row-->
      </div><!--erik-awesome-->
    
    <div class="our-courses">
        <div class="row">
            <div class="courses-header col">
                <h1>Our Courses</h1>
            </div>
            <!--col-->
          </div>
            <div class="images-container col">
            <div class="row">
                <div class="course-info col">
                    <img src="/assets/intensive_speaking.jpg" class="img-responsive" id="studying_pic" alt="learning" width="100%">
                    <p id="course-image-content">Intensive Speaking</p>
                </div>
                <!--course-info -->
                <div class="course-info col">
                    <img src="/assets/online_bootcamp.jpg" class="img-responsive" id="studying_pic" alt="learning" width="100%">
                    <p id="course-image-content">12-week Intensive Bootcamp
                </div>
                <!--course-info -->
                <div class="course-info col" id="course-special">
                    <img src="/assets/real_convos.jpg" class="img-responsive" id="studying_pic" alt="learning" width="100%">
                    <p id="course-image-content">Self-Paced Study</p>
                </div>
                <!--course-info -->
            </div>
            </div> <!--row-->
            <!--course-image-container -->
        </div>
        <!-- row -->
        </div>
    </div>
    <!--our courses -->
    <br />
    <div class="enroll-info">
        <div class="row">
           
                <div class="enroll-header col">
                    <h1 id="enroll-today">Enroll Today</h1>
                    <p id="enrollment-stuff">Anim id do nulla reprehenderit ad aute velit ex non duis nisi in quis adipisicing ut qui dolore.
                        <br /> Lorem ipsum officia in excepteur dolore commodo ut ut sint duis deserunt sit exercitation.</p>
                    <a href="#"><h6 id="read-more">Read more</h6></a>
                </div>
                <!--enroll-header-->
                <div class="see-the-syllabus col">
                    <h3 id="syllabus-check">See the Syllabus</h3>
                    <p id="syllabus-blurb">Pariatur ex consectetur sed incididunt duis ea id et do ullamco consequat nostrud.</p>
                    <div class="syllabus-button">
                        <button type="button" class="btn btn-light">Learn More</button>
                    </div>
                    <!--syllabus-button-->
                </div>
                <!--see-syllabus-->
            </div>
            <!--col-->
        </div>
        <!--row-->
    </div>
    <!--enroll-info -->
</div>
<!--container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>