
@import "bootstrap";

@import "font-awesome";

body {
	background-color:#e0fcff;
}

h1, h2 {
	font-family: 'Inconsolata', monospace;
}

p {
	font-family: 'Open Sans', sans-serif;
}



 .navbar-brand {
	color: white;
	font-size: 24px;
	font-family: 'Inconsolata', monospace;
	margin-left: 10px;
}

.content-to-begin > .image-on-top {
	display: inline-block;
}

.btn-info {
	display: inline-block;
	color: #fff;
	margin-right: 160px;
	background-color: #44858C;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

#special-button {
	background-color: #1598F2;
	margin-left: 35px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

.btn-primary {
	display: inline-block;
	color: #fff;
	background-color: #E48681;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
	color: white;
}

.img-responsive {
	border-radius: 25px;
}



.navbar-light .navbar-nav .nav-link {
	color: white;
	font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 12px;
}


.bg-faded {
	background-color: #40496a;
	border-color: #E7E7E7;
    min-height: 80px;
}

.top-content-on-left {
	// margin-left: 50px;
}



 

.search { 
	position: relative; 
	}
.search input { 
	text-indent: 30px;
}


.search .fa-search 
{ 
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 15px;
}

.master-fundamentals {
	font-weight: lighter;
	opacity: 0.6;
	display: inline;
	font-size: 30px;

}

#top-content {
	font-size: 35px;
}

.container {
	margin-left: 10px;
}

.middle-content > .course-materials {
	text-align: center;
	margin-top: 20px;
}

.practical-videos, .everyday-speaking {
	color: #8996e3;
}

.btn-lg {
  
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.button-holder {
	margin-left: 20px;
}



#studying_pic {
	float:left;
}


.courses-header {
	text-align: center;
}

#course-image-content {
	font-size:22px;
	color: black;
	text-align: center;
}

#course-special {
	height: 400px;
}

.our-courses {
	background-color: #bde4f5;
	margin-bottom: 0;
}





p {
	font-family: 'Open Sans', sans-serif;
}

.information {
	display: inline-block;
}

.enroll-header {

	float: left;
	padding-top: 15px;
	
}

.btn-light {
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.see-the-syllabus {
	font-family: 'Inconsolata', monospace;
	padding-top: 15px;
	
}

#speaking {
	padding-top: 15px;
}

#enroll-today {
	color: #251ec5;
	margin-left: 10px;
}

.enroll-info {
	background-color: #ff7f50;
	padding-bottom: 20px;
}

#enrollment-stuff {
	display: inline-block;
	margin-left: 10px;
	font-family: 'Open Sans', sans-serif;
}

#read-more {
	color: #251ec5;
	margin-left: 10px;
}

.aspectRatioLock {
    border: 2px solid transparent;
    max-width: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 30%; /* 16:9 */
    height: 0;
}


.footer {
	background-color: #40496a;
}

.viet-hoc-info {
	display: inline;
	float: left;
	margin-left: 20px;
}

.footer > .viet-hoc-info {
	display:inline-block;
}

#site-name {
	color: white;
	font-family: 'Inconsolata', monospace;

}

#footer-content {
	color: white;
	font-family: 'Open Sans', sans-serif;

}

b  {
	color: #fff;
	font-family: 'Inconsolata', monospace;
	font-size: 22px;
}

.contact-info {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.css_class {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.css_class:link {
    text-decoration: none;
}

/* visited link */
.css_class:visited {
     text-decoration: none;
}

/* mouse over link */
.css_class:hover {
     text-decoration: none;
}

/* selected link */
.css_class:active {
     text-decoration: none;
    }

  .help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.learn-vietnamese {
	margin-top: 20px;
	font-size: 40px;
	font-family: 'Inconsolata', monospace;
}






.navbar-light .navbar-toggler-icon {
	color: white;
}

#footer {
	background-color: #40496a;
}

.written-content {
	margin-left: 60px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;

  }

  .booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.form-inline .form-control {
		
		padding-right: 30px;
	}



@media only screen and (max-width: 1000px) {
	#top-content {
		text-align: center;
		display: inline-block;
		font-size: 35px;

	}
}

@media only screen and (max-width: 1000px) {
	#course-image-content {
		font-size: 30px;
		margin: 10px;
	}
}

@media only screen and (max-width: 500px) {
	.ytp-cued-thumbnail-overlay-image {
		max-width: 75%;
	}
}

@media only screen and (min-width: 500) {
	#course-special {
		margin-bottom: 20px;
	}
}





	




