<br />



<% @studyhabits.each do |studyhabit| %> 
<div class="booyah-box col-10 offset-1">
	<h2 class="blog-post-title"><%= link_to studyhabit.title, studyhabit_path(studyhabit) %></h2>

</div>



<br class="clr">

<% end %> 

<%= link_to 'Give Advice', new_studyhabit_path, class: 'btn btn-primary', id: "new-advice-button" %> 

